<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>齐仁吉的简历</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/index.min.css">
	<link rel="stylesheet" type="text/css" href="sass/fontello.scss">
	<script src="lib/js/vue.min.js"></script>
	<script src="js/data.min.js"></script>
</head>
<body>
	<div id="content">
		<div id="sidebar">
			<div class="header">
				<img class="logo" src="./img/photo.jpg" alt="头像">
				<h1 class="name">{{info.cvName}}</h1>
			</div>
			<!-- <div class="side-info">
				<h2 class="title"><i class="icon-bookmark"></i>Application. 应聘岗位</h2>
				<ul>
					<li class="content apply">{{info.job}}</li>
				</ul>
			</div> -->
			<div class="side-info">
				<h2 class="title"><i class="icon-bookmark"></i>Basic info. 基本信息</h2>
				<ul>
					<li class="content" v-for="item in infoList">
						<span>{{item.title}}:</span> 
						<a v-if="item.url" target="_black" :href="item.url">{{item.msg}}</a>
						<span v-else>{{item.msg}}</span>
					</li>
				</ul>	
			</div>
			<div class="side-info">
				<h2 class="title"><i class="icon-bookmark"></i>Work. 工作经历</h2>
				<ul>
					<li class="content" v-for="item in workList">
						<div>{{item.time}}</div>
						<div>{{item.title}}</div> 
						<!-- <div>{{item.job}}</div> -->
						
					</li>
				</ul>	
			</div>
			<div class="side-info">
				<h2 class="title"><i class="icon-bookmark"></i>Contact. 联系方式</h2>
				<ul>
					<li class="content" v-for="item in contactMe">
						<i :class="item.className"></i>
						<span>{{item.title}}: {{item.content}}</span>
					</li>
				</ul>
			</div>
			<!-- <div class="side-info">
				<h2 class="title"><i class="icon-bookmark"></i>Skill. 技能点</h2>
				<ul>
					<li class="skill" v-for="item in skill">
						<span class="skill-name">{{item.title}}</span>
						<span class="bar-wrap"><span class="bar" v-bind:style="{width: item.length}"></span></span>
					</li>
				</ul>
			</div> -->
			<div class="note">
				<p v-for="item in note">{{item}}</p>
			</div>
		</div>
		<div id="main">
			<!-- <div class="section">
				<h2><i class="icon-bookmark"></i>Basic info. 基本信息</h2>
				<ul class="info">
					<li v-for="item in infoList">
						<span class="title">{{item.title}}:</span> 
						<a v-if="item.url" target="_black" :href="item.url">{{item.msg}}</a>
						<span v-else>{{item.msg}}</span>
					</li>
				</ul>	
			</div> -->
			<div class="section">
				<h2><i class="icon-bookmark"></i>Experience. 项目经验</h2>
				<ul class="info">
					<li class="proList" v-for="item in project">
						<div class="title">
							<div class="circle"></div>
							<h3>
								<span>{{item.name}}</span>
								<a v-for="link in item.links" class="link" target="_black" :href="link.url"><i class="icon-link"></i>{{link.title}}</a>
							</h3>
						</div>
						<div v-for="msg in item.msg" class="proDes">
							<p>{{msg}}</p>
							<img v-if="item.images" :src="item.images">
						</div>
					</li>
				</ul>
			</div>
			<div class="section">
				<h2><i class="icon-bookmark"></i>Practise. 个人项目</h2>
				<ul class="info">
					<li class="proList" v-for="item in personalProject">
						<div class="title">
							<div class="circle"></div>
							<h3>
								<span>{{item.name}}</span>
								<a v-for="link in item.links" class="link" target="_black" :href="link.url"><i class="icon-link"></i>{{link.title}}</a>
							</h3>
						</div>
						<div v-for="msg in item.msg" class="proDes">
							<p>{{msg}}</p>
							<img v-if="item.images" :src="item.images">
						</div>
					</li>
					<li class="proList more">
						<h3>了解更多请跳转至<a href="http://github.com/qirenji"> GitHub</a> 或 <a href="http://www.qirenji.info/about">博客</a> </h3>
					</li>
				</ul>
			</div>
			<div class="section">
				<h2><i class="icon-bookmark"></i>Skill. 技能清单</h2>
				<ul class="info">
					<li class="proList" v-for="item in skillText">
						<div class="title">
							<div class="circle"></div>
							<h3>
								<span>{{item.name}}</span>
							</h3>
						</div>
						<div v-for="msg in item.msg" class="proDes">
							<p>{{msg}}</p>
							<img v-if="item.images" :src="item.images">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<footer>
		<p>本简历使用Vue框架做数据渲染. &nbsp<a href="resume.pdf" target="_blank">PDF下载</a> Made by qirenji.&nbsp <a href="http://www.qirenji.com/about" target="_blank">更多</a></p>
	</footer>
	<script src="js/index.min.js">
	</script>
</body>
</html>